/* Add CSS Styling */
p {
    background-color: rgb(249, 111, 157);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second {
    color: blue;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(63, 231, 119);
    font-size: 24px;
    font-weight: 700;
}